&lt;div class=&quot;sponsor-callout&quot;&gt;
	&lt;div&gt;
		&lt;p&gt;We couldn&rsquo;t bring you stories like this every month without the support of our subscribers and Patreon backers. We&rsquo;d especially like to thank these backers for their generosity:&lt;/p&gt;
		&lt;h3&gt;&lt;a href=&quot;{{ sponsor.url }}&quot;&gt;{{ sponsor.name }}&lt;/a&gt;&lt;/h3&gt; &lt;p&gt;{{ sponsor.copy }}&lt;/p&gt;
		&lt;p&gt;If you want to help us keep publishing great stories and paying writers well, please consider &lt;a href=&quot;https://www.patreon.com/firesidefiction?ty=h&quot;&gt;supporting us on Patreon&lt;/a&gt;.
	&lt;/div&gt;
&lt;/div&gt;
