&lt;div id=&quot;side-toc&quot; class=&quot;sidenav&quot;&gt;
	&lt;ul class=&quot;toc&quot;&gt;
		&lt;a href=&quot;#what-is-fireside&quot; class=&quot;active&quot;&gt;&lt;li&gt;&lt;h5&gt;What is Fireside?&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
		&lt;a href=&quot;#fair-pay&quot;&gt;&lt;li&gt;&lt;h5&gt;Fair Pay for Writers&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
		&lt;a href=&quot;#content-notes&quot;&gt;&lt;li&gt;&lt;h5&gt;Content Notes&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
		&lt;a href=&quot;#team&quot;&gt;&lt;li&gt;&lt;h5&gt;The Fireside Team&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
		&lt;a href=&quot;#support&quot;&gt;&lt;li&gt;&lt;h5&gt;Support Fireside&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
		&lt;a href=&quot;#rates&quot;&gt;&lt;li&gt;&lt;h5&gt;Rates&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
		&lt;a href=&quot;#submissions&quot;&gt;&lt;li&gt;&lt;h5&gt;Submissions Guidelines&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
		&lt;ul&gt;
			&lt;a href=&quot;#looking-for&quot;&gt;&lt;li&gt;&lt;h5&gt;What We Are Looking For&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
			&lt;a href=&quot;#diversity&quot;&gt;&lt;li&gt;&lt;h5&gt;Diversity&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
			&lt;a href=&quot;#dont-want&quot;&gt;&lt;li&gt;&lt;h5&gt;What We Don't Want&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
			&lt;a href=&quot;#sex-violence-profanity&quot;&gt;&lt;li&gt;&lt;h5&gt;What About Sex, Violence, and Profanity?&lt;/h5&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;a href=&quot;#questions&quot;&gt;&lt;li&gt;&lt;h5&gt;More Questions?&lt;/h5&gt;&lt;/li&gt;&lt;/a&gt;
	&lt;/ul&gt;
&lt;/div&gt;
