&lt;ul class=&quot;icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-twitter&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-medium&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-patreon&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;