<div class="page" id="page">
	{{> organisms-header }}

	{{> organisms-homepage-issue}}
	{{> organisms-homepage-issue}}
	{{> organisms-homepage-issue}}
	{{> atoms-social-icons }}
	{{> organisms-footer }}
</div>
