/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1   {
	line-height: 1.1;
	font-weight: 100;
}

h2    {
	line-height: 1.1;
	font-weight: 300;
}

h3   {
	line-height: 1.1;
	font-weight: 400;
}

h4   {
	text-transform: uppercase;
	font-weight: 400;
}

h5 {

}

h6    {

}

/* Subheadings */
.subheading {
	font-weight: normal;
}
