&lt;section class=&quot;issue&quot;&gt;
	&lt;h2 class=&quot;issue-title&quot;&gt;&lt;a href=&quot;FIXME&quot;&gt;Issue 30 &mdash; June 2016&lt;/a&gt;&lt;/h2&gt;
	&lt;div class=&quot;issue-content&quot;&gt;
		{{&gt; molecules-featured-story-module }}
		&lt;div&gt;
			{{&gt; molecules-story-module }}
			{{&gt; molecules-story-module }}
			{{&gt; molecules-story-module }}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;
