<section class="issue">
	<h2 class="issue-title"><a href="FIXME">Issue 30 — June 2016</a></h2>
	<div class="issue-content">
		{{> molecules-featured-story-module }}
		<div>
			{{> molecules-story-module }}
			{{> molecules-story-module }}
			{{> molecules-story-module }}
		</div>
	</div>
</section>
