&lt;div class=&quot;story-module&quot;&gt;
	&lt;h4&gt;{{ story.category }}&lt;/h4&gt;
	&lt;h1&gt;&lt;a href=&quot;#FIXME&quot;&gt;{{ story.title }}&lt;/a&gt;&lt;/h1&gt;
	{{&gt; molecules-byline }}
	&lt;p&gt;{{ excerpt.short }}&lt;/p&gt;
	&lt;hr/&gt;
&lt;/div&gt;
