<!-- Begin Footer -->
<footer>
	{{> molecules-footer-nav }}
		<p class="copyright">&copy; 2016 Fireside Ficiton Company. All rights reserved.</p>
	<!-- FIXME ADD ANALYTICS CODE HERE -->
</footer>
<!-- End Footer -->