<!-- Begin Footer -->
<footer class="footer">
	<div class="footer-marketing">
		{{> molecules-sponsor-callout }}
		{{> molecules-newsletter }}
	</div>
	<hr/>
	{{> molecules-footer-nav }}
	<div class="legal">
		<p>&copy; 2016 Fireside Fiction Company. All rights reserved.<br/><a href="#FIXME">Terms of Service</a> • <a href="#FIXME">Privacy Policy</a></p>
	</div>
	<!-- FIXME ADD ANALYTICS CODE HERE -->
</footer>
<!-- End Footer -->
