&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot;&gt;
	&lt;div class=&quot;footer-marketing&quot;&gt;
		{{&gt; molecules-sponsor-callout }}
		{{&gt; molecules-newsletter }}
	&lt;/div&gt;
	&lt;hr/&gt;
	{{&gt; molecules-footer-nav }}
	&lt;div class=&quot;legal&quot;&gt;
		&lt;p&gt;&amp;copy; 2016 Fireside Fiction Company. All rights reserved.&lt;br/&gt;&lt;a href=&quot;#FIXME&quot;&gt;Terms of Service&lt;/a&gt; &bull; &lt;a href=&quot;#FIXME&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/p&gt;
	&lt;/div&gt;
	&lt;!-- FIXME ADD ANALYTICS CODE HERE --&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;
