&lt;!-- Begin Footer --&gt;
&lt;footer&gt;
	{{&gt; molecules-footer-nav }}
		&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2016 Fireside Ficiton Company. All rights reserved.&lt;/p&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;