&lt;h1&gt;The Fireside Fiction Company Style Guide&lt;/h1&gt;
&lt;p&gt;Here you will find visual styles, code samples, and UI patterns for the &lt;em&gt;Fireside Magazine&lt;/em&gt; website.&lt;/p&gt;