&lt;div class=&quot;story-header&quot;&gt;
	&lt;h4&gt;{{ story.category }}&lt;/h4&gt;
	&lt;h1&gt;{{ story.title }}&lt;/h1&gt;
	{{&gt; molecules-byline }}
	{{&gt; molecules-illustrator-credit }}
&lt;/div&gt;