<div id="side-toc" class="sidenav">
	<ul class="toc">
		<a href="#what-is-fireside" class="active"><li><h5>What is Fireside?</h5></li></a>
		<a href="#fair-pay"><li><h5>Fair Pay for Writers</h5></li></a>
		<a href="#content-notes"><li><h5>Content Notes</h5></li></a>
		<a href="#team"><li><h5>The Fireside Team</h5></li></a>
		<a href="#support"><li><h5>Support Fireside</h5></li></a>
		<a href="#rates"><li><h5>Rates</h5></li></a>
		<a href="#submissions"><li><h5>Submissions Guidelines</h5></li></a>
		<ul>
			<a href="#looking-for"><li><h5>What We Are Looking For</h5></li></a>
			<a href="#diversity"><li><h5>Diversity</h5></li></a>
			<a href="#dont-want"><li><h5>What We Don't Want</h5></li></a>
			<a href="#sex-violence-profanity"><li><h5>What About Sex, Violence, and Profanity?</h5></a></li>
		</ul>
		<a href="#questions"><li><h5>More Questions?</h5></li></a>
	</ul>
</div>
