&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div class=&quot;about-us&quot;&gt;
		{{&gt; molecules-side-navigation }}
		&lt;article&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;what-is-fireside&quot;&gt;What is Fireside?&lt;/h2&gt;
				&lt;p&gt;Fireside Fiction Company started in 2012 as a Kickstarter-funded short-story magazine. We have two goals: to find and publish great stories regardless of genre, and to pay our writers and artists well. We&rsquo;ve published dozens of writers since then, from well-known names to authors making their first sale. We put out three issues in 2012, and were able to shift to monthly issues in 2013.&lt;/p&gt;
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;fair-pay&quot;&gt;Fair pay for writers&lt;/h2&gt;
				&lt;p&gt;Fair pay is a big deal for us. We think creative people should be able to make a living from their work. Fireside pays 12.5 cents per word, well above the 5 or 6 cents currently considered to be the minimum professional rate.&lt;/p&gt;
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;content-notes&quot;&gt;Content Notes&lt;/h2&gt;
				&lt;p&gt;Fireside Fiction Company provides content notes for books and stories to guide readers who may wish to seek out or avoid particular story elements. These content notes may contain spoilers.&lt;/p&gt;
				&lt;p&gt;Content notes are not the same as the ratings found on movies, TV shows, and video games. The intent is to help trauma survivors avoid being surprised by story elements that may trigger pain or emotional distress. So we don&rsquo;t offer warnings about general violence, profanity, sex, or other things one sees in a movie rating.&lt;/p&gt;
				&lt;p&gt;We welcome suggestions for elements to include or exclude. You can email us at &lt;a href=&quot;mailto:books@firesidefiction.com&quot;&gt;books@firesidefiction.com&lt;/a&gt;.&lt;/p&gt;
				&lt;p&gt;Here is a list of the elements we currently offer notes for:
					&lt;ul&gt;
						&lt;li&gt;Alcohol Abuse&lt;/li&gt;
						&lt;li&gt;Animal Abuse&lt;/li&gt;
						&lt;li&gt;Child Abuse&lt;/li&gt;
						&lt;li&gt;Child Death&lt;/li&gt;
						&lt;li&gt;Domestic Violence&lt;/li&gt;
						&lt;li&gt;Drug Abuse&lt;/li&gt;
						&lt;li&gt;Emotional Abuse&lt;/li&gt;
						&lt;li&gt;Gender-Bias Violence&lt;/li&gt;
						&lt;li&gt;LGBTQ-Bias Violence&lt;/li&gt;
						&lt;li&gt;Racial/Ethnic-Bias Violence&lt;/li&gt;
						&lt;li&gt;Self-Harm&lt;/li&gt;
						&lt;li&gt;Sexual Assault&lt;/li&gt;
						&lt;li&gt;Suicide&lt;/li&gt;
						&lt;li&gt;Torture&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/p&gt;
				&lt;p&gt;Here is an example of a content note:&lt;/p&gt;
				{{&gt; atoms-content-note }}
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;team&quot;&gt;The Fireside Team&lt;/h2&gt;
				&lt;p&gt;
					&lt;ul&gt;
						&lt;li&gt;&lt;a href=&quot;http://www.talkwordy.com/&quot;&gt;Brian White&lt;/a&gt; &mdash; Editor &amp; Publisher&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;http://www.galendara.com/&quot;&gt;Galen Dara&lt;/a&gt; &mdash; Staff Illustrator&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;http://www.defendini.com/&quot;&gt;Pablo Defendini&lt;/a&gt; &mdash; Design &amp; Art Director&lt;/li&gt;
						&lt;li&gt;&lt;a href=&quot;http://cargocollective.com/robertsdavis&quot;&gt;Robert S. Davis&lt;/a&gt; &mdash; Book Designer&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/p&gt;
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;support&quot;&gt;Support Fireside&lt;/h2&gt;
				&lt;p&gt;Running Fireside isn&rsquo;t cheap. We&rsquo;re working to wean ourselves from Kickstarter and to build up sustainable support.&lt;/p&gt;
				&lt;p&gt;Most of all of our revenue goes to paying our writers and artists, helping them to make a living. The rest of our money goes to site maintenance and other administrative costs.&lt;/p&gt;
				&lt;p&gt;If you&rsquo;re been enjoying Fireside and like our mission of great storytelling and fair pay, please consider supporting us so we&rsquo;re around for years to come.&lt;/p&gt;
				&lt;h3&gt;Patreon&lt;/h3&gt;
				&lt;p&gt;Get ebooks along with extras like wallpapers, postcards, and prints of Galen Dara&rsquo;s illustrations&lt;/p&gt;
				{{&gt; atoms-patreon-link }}
				&lt;h3&gt;One-Time Contribution&lt;/h3&gt;
				&lt;p&gt;Want to throw some cash in our hat? You can, through Paypal.&lt;/p&gt;
				{{&gt; atoms-paypal-link }}
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;rates&quot;&gt;Rates&lt;/h2&gt;
				&lt;p&gt;Fireside pays 12.5 cents per word, with payment on completion of edits. We buy first world publication rights and six-month exclusivity, as well as the right to reprint the story once, non-exclusively, in a Fireside anthology.&lt;/p&gt;
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;submissions&quot;&gt;Submissions Guidelines&lt;/h2&gt;
				{{&gt; atoms-submissions-status }}
				&lt;h2&gt;General Guidelines&lt;/h2&gt;
				&lt;p&gt;Fireside generally looks for for original, unpublished flash fiction (1,000 words or less) and original, unpublished short stories up to 4,000 words. We do not ever accept unsolicited submissions of art, novels, novellas, novelettes, or anything else longer than 4,000 words.&lt;/p&gt;
				&lt;p&gt;Please DO NOT resubmit stories that we have previously rejected by Fireside, even if you have revised them. They will be rejected unread.&lt;/p&gt;
				&lt;p&gt;Please do not submit a story that you have already submitted elsewhere but have not heard back from. (Often called simultaneous submission.)&lt;/p&gt;
				&lt;p&gt;A story that you have posted on your blog or website is considered published, please do not submit such stories.&lt;/p&gt;
				&lt;p&gt;We are not looking for poetry, nonfiction, reviews, art, or anything else but fiction.&lt;/p&gt;
				&lt;h3 id=&quot;looking-for&quot;&gt;What We Are Looking For&lt;/h3&gt;
				&lt;p&gt;Fireside&rsquo;s goal is to publish great storytelling, regardless of genre. What do we mean by great storytelling? We want stories that go somewhere, with plot and a beginning, middle, and end. We&rsquo;re not looking for character studies or metafiction or hallucinatory visions. (We LIKE those things; it&rsquo;s just not what we publish in Fireside.)&lt;/p&gt;
				&lt;p&gt;I&rsquo;ll let Neil Gaiman say it again, as I have in our Kickstarters. This is from his introduction to his &ldquo;Stories&rdquo; anthology, writing of his response to a question about what quote he would want inscribed on the wall of the kids&rsquo; section in a public library. He captured the reason why we love good stories in his response:&lt;/p&gt;
				&lt;blockquote&gt;I&rsquo;m not sure I&rsquo;d put a quote up, if it was me, and I had a library wall to deface. I think I&rsquo;d just remind people of the power of stories, of why they exist in the first place. I&rsquo;d put up the four words that anyone telling a story wants to hear. The ones that show it&rsquo;s working, and that pages will be turned: &ldquo;and then what happened?&rdquo;&lt;/blockquote&gt;
				&lt;p&gt;And yes, we seriously mean any genre. We have published sci-fi, horror, romance, crime, fantasy, Westerns, near-future, and modern non-speculative fiction. The stories were all terrific, and we are looking for more of those and from all the many genres we haven&rsquo;t explored. Just tell us a good story.&lt;/p&gt;
				&lt;p&gt;Vague? A little. But we think it&rsquo;s exciting, too. No two issues of Fireside have the same feel, and we hope that makes every issue a little more surprising.&lt;/p&gt;
				&lt;p&gt;If you&rsquo;re not quite sure if your story fits, please send it and our editors can decide. If you want to get an idea of what we&rsquo;re looking for, all of our issues are free to read online (there&rsquo;s links at the bottom of this page).&lt;/p&gt;
				&lt;h3 id=&quot;diversity&quot;&gt;Diversity&lt;/h3&gt;
				&lt;p&gt;Fireside wants to reflect the endless array of diversity in the world. We welcome stories from all writers, and we are especially interested in stories including (but not limited to) the lives, experiences, and viewpoints of women, people of color, QUILTBAG people, people with disabilities, members of religious minorities, and people outside the United States. We strongly encourage submissions from people of those backgrounds, and all others whom traditional publishing has historically excluded.&lt;/p&gt;
				&lt;h3 id=&quot;dont-want&quot;&gt;What We Don't Want&lt;/h3&gt;
				&lt;p&gt;There are some things we absolutely do not want. If you send us stories with these, the story will be rejected and you will be blacklisted:
					&lt;ul&gt;
						&lt;li&gt;Depictions of rape or sexual assault&lt;/li&gt;
						&lt;li&gt;Depictions of child molestation or brutalization of children&lt;/li&gt;
						&lt;li&gt;Depictions of brutalization of women&lt;/li&gt;
						&lt;li&gt;Depictions of brutalization of people with disabilities&lt;/li&gt;
						&lt;li&gt;Depictions of graphic torture&lt;/li&gt;
						&lt;li&gt;Depictions of animal abuse&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/p&gt;
				&lt;p&gt;This is not saying stories cannot touch on, address, or talk about these issues. But we don&rsquo;t want these acts illustrated in detail in Fireside.&lt;/p&gt;
				&lt;p&gt;This isn&rsquo;t negotiable, so don&rsquo;t ask. If you need to have these things in your story, find a different market. We really do have a blacklist.&lt;/p&gt;
				&lt;h3 id=&quot;sex-violence-profanity&quot;&gt;What About Sex, Voilence, and Profanity?&lt;/h3&gt;
				&lt;p&gt;Sexual content is OK, but we are not a market for erotica. We are also fine with profanity and violence. We&rsquo;re not looking for gratuitous violence, though.&lt;/p&gt;
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h2 id=&quot;questions&quot;&gt;More Questions?&lt;/h2&gt;
				&lt;p&gt;If there&rsquo;s something we haven&rsquo;t addressed here, please feel free to email editor Brian White at &lt;a href=&quot;mailto:brian@firesidefiction.com&quot;&gt;brian@firesidefiction.com&lt;/a&gt;. (Please do NOT send submissions here. Any stories sent to this address will be deleted unread.)&lt;/p&gt;
				&lt;div class=&quot;back-to-top&quot;&gt;&lt;a href=&quot;#top-nav&quot; class=&quot;btn reverse btn-small&quot;&gt;Back to the top&lt;/a&gt;&lt;/div&gt;
			&lt;/section&gt;
		&lt;/article&gt;
	&lt;/div&gt;

	{{&gt; atoms-social-icons }}
	{{&gt; organisms-footer }}
&lt;/div&gt;
