<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. Paragraphs on Fireside are indented rather than spaced, as a nod to traditional text block design.</p>