<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. Paragraphs that are not part of a fiction story are set using web conventions, that is: no indents, with a space between each graf.</p>