<div class="submissions-status">
	<h1>Fireside is currently closed to submissions</h1>
	<p>Due to the high volume of submissions we received in September (over 1,100!) we are having to move back our goal to respond to all submissions, from Oct. 31 to Nov. 15. If you have not received a response after Nov. 15, query at <a href="mailto:brian@firesidefiction.com">brian@firesidefiction.com</a>. Please do not query about your submission before then.</p>
	<p>We will be re-opening to submissions in Spring 2016. Watch <a href="https://twitter.com/firesidefiction">@FiresideFiction</a> on Twitter or sign up for our newsletter below to stay informed!</p>
	<!-- Link to the Fireside Fiction Company submission manager. --->
	<div><a target = _blank href="http://firesidefictioncompany.submittable.com/submit" class="btn btn-large"  alt="submit">Submit to Fireside</a></div>
	<!-- End link to submission manager -->
</div>
