&lt;div class=&quot;btn donate&quot;&gt;
  &lt;a href=&quot;http://www.patreon.com/firesidefiction&quot;&gt;
    &lt;img src=&quot;{{img.patreon.src}}&quot; alt=&quot;{{img.patreon.alt}}&quot; /&gt;
  &lt;/a&gt;
&lt;/div&gt;
