&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form newsletter-form&quot;&gt;
    &lt;fieldset&gt;
	    &lt;label for=&quot;newsletter-scope&quot;&gt;&lt;h1&gt;Sign up for our newsletter&lt;/h1&gt;&lt;/label&gt;
	    &lt;p&gt;Get notifications whenever we publish a new issue, and all the latest news about our books. Also @talkwordy may or may not send you cheesy poems.&lt;br/&gt;&lt;small&gt;Rest assured: we'll never ever sell or give out your email address. We wouldn't do you like that&mdash;pinky promise.&lt;/small&gt;&lt;/p&gt;
	    &lt;div class=&quot;inline-container&quot;&gt;
	   		&lt;input type=&quot;newsletter&quot; placeholder=&quot;E-mail address&quot; id=&quot;newsletter-field&quot; class=&quot;newsletter-field&quot; /&gt;
	    	&lt;button class=&quot;btn reverse&quot;&gt;Sign Me Up&lt;/button&gt;
		  &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;
