&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;h1 style=&quot;text-align:center;margin: 3em;&quot;&gt;#FIXME&lt;/h1&gt;
	{{&gt; atoms-social-icons }}
	{{&gt; organisms-footer }}
&lt;/div&gt;
