&lt;p&gt;Primary font: &quot;Museo Slab&quot;, Georgia, Times, &quot;Times New Roman&quot;, serif&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: &quot;Museo Slab&quot;, Georgia, Times, &quot;Times New Roman&quot;, serif&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;Museo Slab&quot;, Georgia, Times, &quot;Times New Roman&quot;, serif&lt;/strong&gt;&lt;/p&gt;