/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
//Footer Nav
footer {
	border-top: 1px solid $color__base--light;
	padding: $pad;
}

.copyright {
	text-align: center;
	font-size: $font-size-small;
	margin-top: $space;
}