/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
//Footer Nav
footer, .footer {
	padding: $pad $pad $pad-double $pad;
	background-color: $color__highlight;
	color: $white;
	a {
		color: $white;
	}
}

.footer-marketing {
	max-width: 60em;
	margin: 0 auto;
	@media all and (min-width: $bp-small-3) {
		display: flex;
	}
	div, form {
		padding: 0 $pad-half;
	}
}

.legal {
	text-align: center;
	font-size: $font-size-small;
	margin-top: $space-double;
}
