&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-site-header }}
	{{&gt; organisms-homepage-issue}}
	{{&gt; organisms-homepage-issue}}
	{{&gt; organisms-homepage-issue}}
	{{&gt; atoms-social-icons }}
	{{&gt; organisms-footer }}
&lt;/div&gt;
