&lt;div class=&quot;author-bio&quot;&gt;
	&lt;div class=&quot;thumb&quot;&gt;
		{{&gt; atoms-author-photo }}
	&lt;/div&gt;
	&lt;div&gt;
		&lt;h1&gt;&lt;a href=&quot;{{ author.url }}&quot;&gt;{{ author.first-name }} {{ author.last-name }}&lt;/a&gt;&lt;/h1&gt;
		&lt;p&gt;{{ author.bio }}&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;