<div class="author-bio">
	<div class="thumb">
		{{> atoms-author-photo }}
	</div>
	<div>
		<h1><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a></h1>
		<p>{{ author.bio }}</p>
	</div>
</div>