<div class="sponsor-callout">
	<div>
		<h1>Thanks to our Sponsors</h1>
		<p>We couldn’t bring you stories like this every month without the support of our subscribers and Patreon backers. We’d especially like to thank these backers for their generosity:</p>
		<h3><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></h3> <p>{{ sponsor.copy }}</p>
		<p>If you want to help us keep publishing great stories and paying writers well, please consider <a href="https://www.patreon.com/firesidefiction?ty=h">supporting us on Patreon</a>.
	</div>
</div>
