<ul class="sg-colors">
	<li>
		<span class="sg-swatch brand-color--base"></span>
		<span class="sg-label">Text Color</span>
	</li>
	<li>
		<span class="sg-swatch brand-color--highlight"></span>
		<span class="sg-label">Buttons and Links</span>
	</li>
	<li>
		<span class="sg-swatch brand-color--highlight--focus"></span>
		<span class="sg-label">Highlight/Focus</span>
	</li>
</ul>