&lt;div&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-small&quot;&gt;Small Button&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Regular Button&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-large&quot;&gt;Large Button&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a href=&quot;#&quot; class=&quot;btn disabled&quot;&gt;Disabled Button&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a href=&quot;#&quot; class=&quot;btn reverse&quot;&gt;Reverse Button&lt;/a&gt;&lt;/div&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;Text Button&lt;/a&gt;&lt;/p&gt;
